<div class="content p-4 rounded">
  <h1 class="display-4 text-center">Provisioning manifest</h1>

  <hr>

  <%= form_with model: manifest, local: true, id: "provisioning" do |form| %>
    <h3 class="text-center">App</h3>

    <div class="form-group">
      <label for="app-name">Name</label>
      <input id="app-name" name="manifest[app][name]" type="text" class="form-control" aria-describedby="app-name-help" placeholder="app" v-model="app">
      <p id="app-name-help" class="form-text text-muted" v-cloak>https://<strong>{{helps.app}}</strong>.{{helps.domain}}</p>
    </div>

    <div class="form-group">
      <label for="app-domains">Custom domains</label>
      <input id="app-domains" name="manifest[app][domains]" type="text" class="form-control" placeholder="app.com, www.app.com">
    </div>

    <div class="form-group">
      <label for="app-services">Services</label>
      <select id="app-services" name="manifest[app][services][]" class="form-control" multiple>
        <option value="mongo">Mongo</option>
        <option value="mysql">MySQL</option>
        <option value="postgres">Postgres</option>
        <option value="redis">Redis</option>
      </select>
    </div>

    <hr>

    <h3 class="text-center">Platform</h3>

    <div class="form-group">
      <label for="platform">Platform provider</label>
      <select id="platform" name="manifest[platform][provider]" class="form-control" v-model="providers.platform">
        <option value="dokku">Dokku</option>
        <option value="flynn">Flynn</option>
      </select>
    </div>

    <div class="form-group">
      <label for="domain">Platform domain</label>
      <input id="domain" name="manifest[platform][domain]" type="text" class="form-control" aria-describedby="domain-help" placeholder="example.com" required v-model="domain">
      <p id="domain-help" class="form-text text-muted" v-cloak>https://{{helps.app}}.<strong>{{helps.domain}}</strong></p>
    </div>

    <hr>

    <h3 class="text-center">Hosting</h3>

    <div class="form-group">
      <label for="hosting">Hosting provider</label>
      <select id="hosting" name="manifest[hosting][provider]" class="form-control" v-model="providers.hosting">
        <option value="aws">Amazon EC2</option>
        <option value="digitalocean" selected>DigitalOcean</option>
        <option value="linode">Linode</option>
        <option value="rackspace">Rackspace</option>
      </select>
    </div>

    <div v-if="providers.hosting === 'aws'">
      <div class="form-group">
        <label for="aws-region">AWS region</label>
        <select id="aws-region" name="manifest[hosting][region]" class="form-control">
          <option value="us-west-2">Oregon</option>
        </select>
      </div>

      <div class="form-group">
        <label for="aws-server-image">Server image</label>
        <select id="aws-server-image" name="manifest[hosting][server][image_id]" class="form-control">
          <option value="ami-6e1a0117" selected>Ubuntu 16.04 LTS</option>
        </select>
      </div>

      <div class="form-group">
        <label for="aws-server-size">Server size</label>
        <select id="aws-server-size" name="manifest[hosting][server][flavor_id]" class="form-control">
          <option value="t2.nano">1 CPU / 0.5 GB</option>
          <option value="t2.micro" selected>1 CPU / 1 GB</option>
          <option value="t2.small">1 CPU / 2 GB</option>
          <option value="t2.medium">2 CPU / 4 GB</option>
          <option value="t2.large">2 CPU / 8 GB</option>
          <option value="t2.xlarge">4 CPU / 16 GB</option>
          <option value="t2.2xlarge">8 CPU / 32 GB</option>
        </select>
      </div>
    </div>

    <div v-if="providers.hosting === 'digitalocean'">
      <div class="form-group">
        <label for="digitalocean-server-region">Server region</label>
        <select id="digitalocean-server-region" name="manifest[hosting][server][region]" class="form-control">
          <option value="ams2">Amsterdam 2</option>
          <option value="ams3">Amsterdam 3</option>
          <option value="fra1">Frankfurt 1</option>
          <option value="lon1">London 1</option>
          <option value="nyc1" selected>New York 1</option>
          <option value="nyc3">New York 3</option>
          <option value="sfo1">San Francisco 1</option>
          <option value="sfo2">San Francisco 2</option>
          <option value="sgp1">Singapore 1</option>
        </select>
      </div>

      <div class="form-group">
        <label for="digitalocean-server-image">Server image</label>
        <select id="digitalocean-server-image" name="manifest[hosting][server][image]" class="form-control">
          <option value="ubuntu-17-04-x64">Ubuntu 17.04</option>
          <option value="ubuntu-16-04-x64" selected>Ubuntu 16.04 LTS</option>
          <option value="ubuntu-14-04-x64">Ubuntu 14.04 LTS</option>
        </select>
      </div>

      <div class="form-group">
        <label for="digitalocean-server-size">Server size</label>
        <select id="digitalocean-server-size" name="manifest[hosting][server][size]" class="form-control">
          <option value="512mb">1 CPU / 512 MB</option>
          <option value="1gb" selected>1 CPU / 1 GB</option>
          <option value="2gb">2 CPU / 2 GB</option>
          <option value="4gb">2 CPU / 4 GB</option>
          <option value="8gb">4 CPU / 8 GB</option>
        </select>
      </div>
    </div>

    <hr>

    <h3 class="text-center">DNS</h3>

    <div class="form-group">
      <label for="dns">DNS provider</label>
      <select id="dns" name="manifest[dns][provider]" class="form-control" v-model="providers.dns">
        <option value="aws">Amazon Route 53</option>
        <option value="digitalocean" selected>DigitalOcean</option>
        <option value="linode">Linode</option>
        <option value="rackspace">Rackspace</option>
      </select>
    </div>

    <hr>

    <div class="text-center mt-5 mb-4">
      <button type="submit" class="btn btn-lg btn-success" style="background:chartreuse">Generate</button>
    </div>
  <% end %>
</div>
