<h1 class="display-3 my-5 text-center">Provisioning.sh</h1>

<%= render "layouts/alerts" %>

<%= form_with model: manifest, local: true, id: "provisioning" do |form| %>
  <div class="card">
    <div class="card-header">
      <ul id="provisioning-tabs" class="nav nav-tabs card-header-tabs" role="tablist">
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a id="app-tab" class="nav-link active" href="#app" data-toggle="tab" role="tab">App</a>
        </li>
        <li class="nav-item">
          <a id="platform-tab" class="nav-link" href="#platform" data-toggle="tab" role="tab">Platform</a>
        </li>
        <li class="nav-item">
          <a id="hosting-tab" class="nav-link" href="#hosting" data-toggle="tab" role="tab">Hosting</a>
        </li>
        <li class="nav-item">
          <a id="dns-tab" class="nav-link" href="#dns" data-toggle="tab" role="tab">DNS</a>
        </li>
        <li class="nav-item">
          <a id="save-tab" class="nav-link" href="#save" data-toggle="tab" role="tab">Save</a>
        </li>
      </ul>
    </div>

    <div class="card-body tab-content">
      <div class="tab-pane fade show active" id="app" role="tabpanel" aria-labelledby="app-tab">
        <h4 class="card-title">App settings</h4>

        <div class="form-group">
          <label for="app-name">Name</label>
          <input id="app-name" name="manifest[app][name]" type="text" class="form-control" aria-describedby="app-name-help" placeholder="app" v-model="app">
          <p id="app-name-help" class="form-text text-muted" v-cloak>https://<strong>{{helps.app}}</strong>.{{helps.domain}}</p>
        </div>

        <div class="form-group">
          <label for="app-domains">Custom domains</label>
          <input id="app-domains" name="manifest[app][domains]" type="text" class="form-control" placeholder="app.com, www.app.com">
        </div>

        <div class="form-group">
          <label for="app-services">Services</label>
          <select id="app-services" name="manifest[app][services][]" class="form-control" multiple>
            <option value="mongo">Mongo</option>
            <option value="postgres">Postgres</option>
            <option value="redis">Redis</option>
          </select>
        </div>
      </div>

      <div class="tab-pane fade" id="platform" role="tabpanel" aria-labelledby="platform-tab">
        <h4 class="card-title">Platform settings</h4>

        <div class="form-group">
          <label for="platform">Platform</label>
          <select id="platform" name="manifest[providers][platform]" class="form-control" v-model="providers.platform">
            <option value="dokku">Dokku</option>
            <option value="flynn">Flynn</option>
          </select>
        </div>

        <div v-if="providers.platform === 'dokku'">
          <div class="form-group">
            <label for="dokku-version">Version</label>
            <select id="dokku-version" name="manifest[dokku][version]" class="form-control">
              <option>v0.10.4</option>
              <option>v0.9.4</option>
              <option>v0.8.2</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="ssh-key-fingerprint">SSH key fingerprint</label>
          <input id="ssh-key-fingerprint" name="manifest[ssh][key][fingerprint]" type="text" class="form-control" placeholder="01:23:45:67:89:AB:CD:EF:01:23:45:67:89:AB:CD:EF">
        </div>
      </div>

      <div class="tab-pane fade" id="hosting" role="tabpanel" aria-labelledby="hosting-tab">
        <h4 class="card-title">Hosting settings</h4>

        <div class="form-group">
          <label for="hosting">Hosting</label>
          <select id="hosting" name="manifest[providers][hosting]" class="form-control" v-model="providers.hosting">
            <option value="digitalocean">DigitalOcean</option>
            <option value="linode">Linode</option>
            <option value="rackspace">Rackspace</option>
          </select>
        </div>

        <div v-if="providers.hosting === 'digitalocean'">
          <div class="form-group">
            <label for="digitalocean-token">API token</label>
            <input id="digitalocean-token" name="manifest[digitalocean][token]" type="text" class="form-control" placeholder="0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef">
          </div>

          <div class="form-group">
            <label for="digitalocean-droplet-image">Server image</label>
            <select id="digitalocean-droplet-image" name="manifest[digitalocean][droplet][image]" class="form-control">
              <option value="ubuntu-16-04-x64">Ubuntu 16.04 x64</option>
              <option value="ubuntu-16-04-x32">Ubuntu 16.04 x32</option>
              <option value="ubuntu-14-04-x64">Ubuntu 14.04 x64</option>
              <option value="ubuntu-14-04-x32">Ubuntu 14.04 x32</option>
            </select>
          </div>

          <div class="form-group">
            <label for="digitalocean-droplet-size">Server size</label>
            <select id="digitalocean-droplet-size" name="manifest[digitalocean][droplet][size]" class="form-control">
              <option value="512mb">1 CPU / 512 MB</option>
              <option value="1gb">1 CPU / 1 GB</option>
              <option value="2gb">2 CPU / 2 GB</option>
              <option value="4gb">2 CPU / 4 GB</option>
              <option value="8gb">4 CPU / 8 GB</option>
            </select>
          </div>

          <div class="form-group">
            <label for="digitalocean-droplet-region">Server region</label>
            <select id="digitalocean-droplet-region" name="manifest[digitalocean][droplet][region]" class="form-control">
              <option value="ams2">Amsterdam 2</option>
              <option value="ams3">Amsterdam 3</option>
              <option value="fra1">Frankfurt 1</option>
              <option value="lon1">London 1</option>
              <option value="nyc1">New York 1</option>
              <option value="nyc3">New York 3</option>
              <option value="sfo1">San Francisco 1</option>
              <option value="sfo2">San Francisco 2</option>
            </select>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="dns" role="tabpanel" aria-labelledby="dns-tab">
        <h4 class="card-title">DNS settings</h4>

        <div class="form-group">
          <label for="dns">DNS</label>
          <select id="dns" name="manifest[providers][dns]" class="form-control" v-model="providers.dns">
            <option value="digitalocean">DigitalOcean</option>
            <option value="linode">Linode</option>
            <option value="rackspace">Rackspace</option>
          </select>
        </div>

        <div class="form-group">
          <label for="domain">Wildcard domain</label>
          <input id="domain" name="manifest[domain]" type="text" class="form-control" aria-describedby="domain-help" placeholder="example.com" v-model="domain">
          <p id="domain-help" class="form-text text-muted" v-cloak>https://{{helps.app}}.<strong>{{helps.domain}}</strong></p>
        </div>
      </div>

      <div class="tab-pane fade" id="save" role="tabpanel" aria-labelledby="save-tab">
        <h4 class="card-title">Save settings</h4>

        <p>This action will generate a link to a provisioning script that you can download and execute:</p>

        <pre class="text-secondary bg-light p-3 mt-3 mb-4 border rounded"><code>$ curl -Ls "https://provisioning.sh?uuid=[random unique identifier]" | bash</code></pre>

        <div class="text-center">
          <button type="submit" class="btn btn-lg btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
