<h1 class="display-3 my-5 text-center">Provisioning manifest</h1>

<p>Run provisioning script:</p>

<pre class="text-secondary bg-light p-3 my-4 border rounded"><code>$ curl -s "<%= root_url(uuid: manifest.uuid, protocol: :https).sub("/?uuid", "?uuid") %>" | bash</code></pre>

<p>Alternatively you can manually install the <a href="https://rubygems.org/gems/provisioning" class="bg-light p-1 rounded"><code>provisioning</code></a> gem, download the manifest file, and edit it before provisioning:</p>

<pre class="text-secondary bg-light p-3 my-4 border rounded"><code>$ gem install provisioning
$ curl -o manifest.json "<%= manifest_url(protocol: :https, format: :json) %>"
$ vim manifest.json
$ provision manifest.json</code></pre>

<div class="text-center">
  <%= link_to "Delete", manifest, data: { confirm: "Are you sure?" }, method: :delete, remote: true, class: "btn btn-lg btn-danger", role: "button" %>
</div>
