<h1 class="display-3 my-5 text-center">Provisioning manifest</h1>

<%= render "layouts/alerts" %>

<p>Run the provisioning script:</p>

<pre class="text-secondary bg-light p-3 my-4 border rounded"><code>$ curl -Ls "<%= root_url(uuid: manifest.uuid).sub("/?uuid", "?uuid") %>" | bash</code></pre>

<p>Alternatively you can manually install the <a href="https://rubygems.org/gems/provisioning" class="bg-light p-1 rounded"><code>provisioning</code></a> gem, download the manifest file, and edit it before provisioning:</p>

<pre class="text-secondary bg-light p-3 my-4 border rounded"><code>$ gem install provisioning
$ curl -o manifest.json "<%= manifest_url(format: :json) %>"
$ vim manifest.json
$ provision manifest.json</code></pre>

<p>If you left out some secrets from the manifest file, set them as environment variables before running the script:</p>

<pre class="text-secondary bg-light p-3 my-4 border rounded"><code>$ export DIGITALOCEAN_TOKEN="0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"</code></pre>

<div class="text-center">
  <%= link_to "Delete", manifest, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-lg btn-danger", role: "button" %>
</div>
