/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$link-color: chartreuse;
$link-hover-color: lighten($link-color, 15%);
$text-muted: rgba(white, 0.6);
$hr-border-color: rgba(white, 0.3);

@import "bootstrap/scss/bootstrap";

[v-cloak] {
  visibility: hidden;
}

@mixin text-and-link-color($color) {
  color: $color;
  a {
    color: $color;
  }
}

body {
  background: #38C;
  color: rgba($white, 0.95);
  max-width: 45em;
  margin: 1em auto;

  .content {
    background: rgba($white, 0.1)
  }
}

footer.credits {
  @include text-and-link-color(rgba($white, 0.5));
  a:hover {
    color: rgba($white, 0.8);
  }
}

.text-console {
  color: chartreuse;
}

.bg-console {
  background: rgba($black, 0.5);
}

.border-console {
  border-color: rgba(128, 128, 128, 0.5) !important;
}
