@mixin text-and-link-color($color) {
  color: $color;
  a {
    color: $color;
  }
}

body.welcome {
  background: #38C;
  color: white;
  max-width: 45em;
  margin: 1em auto;

  .jumbotron {
    background: rgba(255, 255, 255, 0.1)
  }

  footer.credits {
    @include text-and-link-color(white);
  }
}

footer.credits {
  @include text-and-link-color(#999);
}
